* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Karla', sans-serif;
}

#main-page {
	background-size: cover;
	height: 100vh;
}



/**********************/
/*****Navbar***********/
/**********************/

#brand-name {
	font-weight: bold;
	font-size: 200%;
}
